[2014-06-03 07:24] janithb opened #1 "Audit4j is not supporing for languages other than Java."

[2014-06-17 10:19] janithb opened #2 "Audit4j Database Handler Implementation."

[2014-06-17 10:19] #2 closed, assigned to janithb

[2014-06-17 10:21] janithb opened #3 "Database Handler should supports other databases(MySQL Oracle, etc. ) other than HSQLDB."

[2014-06-18 13:05] #3 closed, assigned to janithb

[2015-07-17 11:58] memedidou opened #11 "Using AspectJ /@Audit, logging a ValidationException warn"
Hi,
I'm trying to implement your Auditing framework and I experienced a strange behavior.
## Context
I implemented a class MetaData, I use the @Audit annotation and the ```org.audit4j.integration.spring.AuditAspect``` into my spring  context.

The audited object :
[code]
The metadata implementation:
[code]
## Implementation result
Log result
[code]
## Issues
### Warning log
I take a look to unders

[2015-07-17 14:57] memedidou opened #12 "Implement a Handler which is not Serializable"
Hi,

I'm implementing my own Handler but I'm unable start my service anymore due to this exception

[code]

Is it possible to avoid the need of being a `Serializable` object, or is something mandatory ? My handler uses/implements other objects and interfaces that are not serializable.

Thanks.

[2015-08-14 12:20] theborakompanioni opened #14 "Problems setting up Audit4j in Servlet Spec 3.x"
Setting up Audit4j (v2.3.1) in a Servlet Sepc 3.x can be quite tricky.
Now I see that you have "removed support" for it.. de72070709b937de534f13cb269490da457e9881.
Can we have insight into the motivation behind this move?

Also: If no "handlers" are found the AuditManager is started with a path taken from `context.getRealPath("/WEB-INF/classes")` and afterwards checked if it is a file with `AuditU

[2015-08-14 14:59] janithb commented on #14
Hi @theborakompanioni

We have recently moved Servlet Sepc 3.x  config support to audit4j-http-app plugin. I will push the sources later.

There was a conflict between servlet spec 3 config support and other injecting configurations (Spring, cdi, etc).

We have already identified that scanning /WEB-INF/classes and getting initialization exception path in Servlet spec 3 is a bug. It will be fixed i

[2015-10-08 09:22] donovanmuller commented on #11
Same issue here.
Seems validation is triggered before the actor is populated by the `MetaData`

<img width="716" alt="screen shot 2015-10-08 at 11 14 00 am" src="https://cloud.githubusercontent.com/assets/1175891/10362279/db920a1c-6dad-11e5-857f-1b4503a8efe4.png">

This is my config:

[code]
and annotated method:

[code]

output:

[code]

[2015-10-11 09:11] bianghouse opened #15 "Spring security integration"
Hi, is there a way to join Spring security Authentication?
There is an example inside doc about MetaData Customization where you place an implementation example
import org.audit4j.core.MetaData;
public class MyMetaData implements MetaData{
    @Override
    public String getActor() {
        return MyContext.getAuthanticatedUSer();
    }
 }
so I tried to retrieve my spring authentication user from

[2015-10-12 06:14] janithb commented on #15
Can you please share your metadata implementation. Then I'll be able to resolve this.

[2015-10-12 08:36] bianghouse commented on #15
Hi Janith, first of all, thanks a lot for your great job!

Below my implementation of your MetaData interface

public class AuditMetaData implements MetaData, Serializable
{
.....
@Override
public String getActor()
    {

        SecurityContext context = SecurityContextHolder.getContext();
        Authentication auth = context.getAuthentication(); <= this is always null after user successful auth

[2015-10-13 05:00] janithb commented on #15
Hi,

We are using spring security with large enterprise application and its working fine.

Follow is the custom metadata implementation code I picked from that application.

[code]

Can you please mention what Audit4j core version you are using.

Can you please verify whether application is properly authenticated.

Regards,
Janith

[2015-10-14 06:55] bianghouse commented on #15
Hi Janith, thanks for sharing your implementation..
It seems like mine and they are bases on the same key SecurityContextHolder.getContext().getAuthentication() anyway.

I tried both Audit4j-core v 2.3.1, 2.4.0 alpha versions, but I don't think this is the issue.

 I think there's something wrong on my application configuration, because as soon as code invokes my custom implementation  of Metadata

[2015-10-18 13:24] janithb commented on #15
Marked this as a bug since asynchronous metadata lookup is not working for spring security with annotations. Fixed issue in audit4j-core-2.4.0-alpha3. Please use this version until release a stable release.

[2015-10-18 13:34] janithb commented on #15
audit4j-core-2.4.0-alpha3 is available in mevan central. closing issue.

[2015-10-18 13:34] #15 closed

[2015-10-18 13:35] janithb commented on #12
Fixed issue in audit4j-core-2.4.0-alpha3.

[2015-10-18 13:35] #12 closed

[2015-10-19 05:31] janithb commented on #11
Bug is fixed on audit4j-core-2.4.0-alpha3 version and available in maven central.

[2015-10-19 05:31] #11 closed

[2015-10-21 21:04] msamichev opened #16 "Limit of records in audit table."
Hi.
I have included the audit4j(core/spring/db) into my project. Everything works, but when the count of records in the audit table become equal 14, new record is not created. What it can be?

Thanks

[2015-10-22 04:13] janithb commented on #16
Please share the configuration you are using.

[2015-10-22 07:37] msamichev commented on #16
Of course:

Maven:
[code]

Spring:
[code]

MetaData:
[code]

Something else?

[2015-10-22 08:03] msamichev commented on #16
Only 14 records and no one new :(
![image](https://cloud.githubusercontent.com/assets/7899835/10659989/8307e8b2-78ac-11e5-9cb9-bf4910785884.png)

[2015-10-22 08:05] janithb commented on #16
Hi @msamichev
Is there any exception in console log?  Are those audit records available in the console which are logged through console handler?

[2015-10-22 08:10] msamichev commented on #16
No errors. But my second question, I don't see any audit information in console :(.

[2015-10-22 08:30] msamichev commented on #16
And after restart tomcat new 14 records are created in table.

[2015-10-22 09:45] janithb commented on #16
Please remove the database handler from the configurations and share the console log. I want to check whether the issue is in the database handler.

[2015-10-22 09:56] msamichev commented on #16
commented db-handler and console started work:

[code]

[2015-10-22 10:40] janithb commented on #16
I think there will be an issue in database handler. I suspect that the connections in the database pool are not releasing again to the pool after consume by the application. Can you switch it to single connection mode or jndi mode for now and let me know how it is going. I will fix this issue later.

[2015-10-22 11:47] msamichev commented on #16
Put single mode - it works(both handlers), thanks.

when can we expect a version with pool mode?

[2015-10-22 11:56] janithb commented on #16
We will release this in database handler 2.4.0 version by next week.

[2015-10-22 11:59] msamichev commented on #16
cool. will wait ;)

[2015-10-22 12:02] msamichev commented on #16
One request - can you add datasource property in db-handler or it is difficult?

[2015-10-22 12:16] janithb commented on #16
Yes. It is pretty straight forward but we have to test it since the handlers are working outside the application context scope because of the asynchronous nature. I will add this to our [milestone] (https://docs.google.com/document/d/1UQhG3oVzS9216u5oT8B0dWs95YHzLFiaHQXrx0TbcVg/edit?usp=sharing) and plan a release in next major version.

[2015-10-23 14:39] msamichev opened #17 "I've done several test cases and found incorrect behavior in annotation's work"
Hi

I've done several test cases and found incorrect behavior in annotation work:

Description: I have one interface UserService and one implementation UserServiceImpl

Test1 - Set @Audit on interface level.
Result1 - not works at all.

Test2 - Set @Audit on class level.
Result2 - works correct.

Test3 - Set @Audit on class level and @IgnorAudit on special method.
Result3 - works incorrect, all me

[2015-10-24 12:56] janithb commented on #17
Hi @msamichev

I will check on this and let you know by tomorrow.

[2015-10-24 14:47] janithb commented on #16
Fixed issue in Audit4j-DB 2.4.0-alpha1 and currently available in maven central repository.
Added external data source support.

[2015-10-24 14:47] #16 closed

[2015-10-25 14:21] janithb commented on #17
Fixed the issue. There wasn't an error in annotation processing logic. There was an issue in spring aspect which returns the wrong class and method.

Use annotations only for the implementation.

Issue is fixed in audit4j-spring-2.4.0-alpha4 and which is available maven central. please upgrade.

[2015-10-25 14:21] #17 closed

[2015-10-25 14:21] #14 closed

[2015-10-25 16:51] msamichev commented on #17
Works fine, thanks.

Are you planning to make possibility to use @audit annotation in interface?

[2015-10-25 16:56] msamichev opened #18 "Change type of column timestamp from varchar to date(timestamp) in audit table."
Hello.

Would be great if you change type of column "timestamp" from varchar to date(timestamp) in audit table.

Thanks.

[2015-10-26 05:48] janithb commented on #17
I would encourage to  use annotations in implementations since if there are more than one implementation for particular interface, annotations are applied for all the implementations.

Is there any use case to use annotations in interface?

[2015-10-26 05:50] janithb commented on #18
Planning to address this in next major release.

[2015-10-26 14:40] msamichev commented on #17
Maybe you are right, but for example you can have common interface for all services with CRUD methods and easiest way to switch on audit it put @Audit into interface.

[2015-11-27 21:05] theborakompanioni opened #19 "Library is not thread safe"
Since you are looping over all handlers and set the AuditEvent for the each of them.. it is possible to lose events - the library is therefore not thread safe.
See `AuditEventProcessor` L70 https://github.com/audit4j/audit4j-core/blob/master/src/main/java/org/audit4j/core/AuditEventProcessor.java#L70

[2015-11-29 14:49] janithb commented on #19
Audit4j framework based on reactor pattern to process events asynchronously. Hence all the processing based on single event loop which runs on a single thread but still serve the high performance processing. I don't see any issue  ass long as handling exceptions properly. What do you think?

[2015-11-29 20:12] theborakompanioni commented on #19
Ahh! Ok, that's nice. I have just looked at the processor level. Thank you.

[2015-11-29 20:12] #19 closed

[2015-12-10 09:47] msamichev opened #20 "Is it possible to set the scheme where audit table will be created?"
Hello,

I have huge need to have opportunity to set the scheme where audit table will be created.

Can you add this property to DB handler?

Thanks

[2015-12-13 14:55] janithb commented on #20
Do you want a custom name for audit tables?

[2015-12-13 15:45] msamichev commented on #20
No, I would like have opportunity to set only schema name for table. For example if I use postgresql then your plugin creates table in public schema and full name of audit table looks like "public.audit". And I need to have opportunity to change schema name to look like this "custom_schema.audit".

Thanks

[2015-12-13 16:15] janithb commented on #20
You can specify the schema parameter in the connection url.

jdbc:postgresql://localhost:5432/mydatabase?currentSchema=custom_schema

Please refer below links.

http://stackoverflow.com/questions/4168689/is-it-possible-to-specify-schema-when-connecting-to-postgres-with-jdbc

https://jdbc.postgresql.org/documentation/94/connect.html#connection-parameters

[2015-12-14 08:20] msamichev commented on #20
Yep, as a workaround It can be done, but in our app, we have several schemas simultaneously and we use ORM (in persistence layer) and we wouldn't like to set exact schema name in connection url. We would like to have more flexible solution to set schema name (and as optional  - to set table name).

Can you add additional parameter in DbHandler definition?

Thanks.

[2015-12-15 02:47] janithb commented on #20
Yes. This is possible. We will add this to next release, however we have to test it before release a major release. Appreciate if you can add this feature as a contribution. The [source code](https://github.com/audit4j/audit4j-db) is pretty simple. We do accept pull requests.

[2015-12-15 07:40] vikram2416 opened #21 "SpringAudit4jException"
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'springAudit4jConfig' defined in class path resource [com/sprhib/init/WebAppConfig.class]: Invocation of init method failed; nested exception is java.lang.NoSuchMethodError: org.audit4j.core.Configuration.setOptions(Ljava/lang/String;)V

[2015-12-22 01:49] janithb commented on #21
Please use the same version for Spring integration plugin as used in the Audit4j core.
Use latest versions. Ex: 2.4.0

[2015-12-25 20:31] massfords opened #22 "Need something better than toString for converting args"
Very nice library!

The conversion of the method args to a List<Field> is based on the arg's toString() implementation. It would be nice to support a pluggable conversion from object to a String or even support producing multiple Field's from a single argument.

Consider the following case:

    public MyDTO create(MyDTO arg) { ... }

In this case, I'd like to record a couple of different fields f

[2015-12-26 03:48] janithb commented on #22
Hi @massfords ,

We already Identified this issue and currently in progress of developing the solution. We thought of using pluggable serializer to extract object to relevant audit record based on annotations in the object fields (ex: MyDTO). I have developed below couple of serializes similar to old toString implementation. Please refer below implementations.

https://github.com/audit4j/audit4j-c

[2015-12-27 05:48] massfords commented on #22
A pluggable serializer seems like the right approach. I took a quick look at the source. I don't see a way to configure the serializer yet but I'm guessing this is still a work in progress.

[2016-02-15 18:56] dfgkzhang opened #23 "Oracle DB Issues"
I'm running into some issues while setting up audit4j to communicate with an Oracle DB that I'm hoping you can help me with.

- The documentation for YAML configuration isn't working for me.  I keep getting an "Unable to find property 'embedded' on class: org.audit4j.core.Configuration" error.  Moving to using the spring configuration, I was able to at least get it to talk to the db.
- It is unabl

[2016-02-22 05:30] #21 closed

[2016-02-22 05:32] janithb commented on #22
This issue is resolved.

Fixes are available in Audit4j 2.4.1-RC1 release

@massfords  Please test and verify.

[2016-02-22 17:19] janithb commented on #18
Fixed in 2.4.1 release.

[2016-02-22 17:20] #18 closed

[2016-03-02 16:05] janithb commented on #22
This issue is fixed in 2.4.1

[2016-03-02 16:05] #22 closed

[2016-04-06 14:36] fjcano-stratio opened #44 "http://audit4j.org/ does not work"
Hello,

I'm trying to get documentation about audit4j and it is "down". Did you move to other site?

Thanks,

[2016-04-07 05:08] janithb commented on #44
Thanks for informing. We are working for this issue with our hosting provider. We'll let you know one the site is available. In the meantime please feel free to ask any questing in out google group.

https://groups.google.com/forum/#!forum/audit4j

Regards,
Janith

[2016-04-07 12:21] janithb commented on #44
audit4j.org is available now.

[2016-04-07 12:21] #44 closed

[2016-04-07 12:55] fjcano-stratio commented on #44
Thanks a lot

[2016-04-28 07:17] gaurav1264 opened #45 "audit4j - User defined columns in table"
I am using audit4j to audit my spring based web application. Can we create custom column in audit table?

Let say I want to store the employee id and its name along with the audit records in emp_id and emp_name column with actor, timestamp etc.

Do we have support in audit4j to achieve above scenario or workaround?

[2016-04-29 07:54] janithb commented on #45
@gaurav1264
Currently this is not supported in current implementations of audit4j. But tweaking Audit4j-DB module this can be achieved.

[2016-06-03 14:50] sdcavanaugh opened #46 "audit4j-core SimpleLayout"
Using audit4j.conf.yaml for configuration.  When I configure a SimpleLayout with a dateFormat like this

I get a this exception:

Adding _public String getDateFormat()_ method to SimpleLayout seems to correct this.

[2016-06-23 14:25] italopaiva opened #47 "Can't load Audit4J configuration file from desired path"
In the configuration section of Audit4J documentation it says that the first step that Audit4J try to do is:

"1. Check whether configurations that are directly injected are available in the Context. If available; proceed with the injected configuration. If not, jump to step 7."

**How do I "directly inject the configurations in the Context" ?**

I'm not able to choose a configuration file from a

[2016-06-23 15:08] sdcavanaugh commented on #47
What version are you using?  2.4.1 saves the configuration to
audit4j.conf.yaml.

On Thu, Jun 23, 2016 at 10:25 AM, Italo Paiva <notifications@github.com>
wrote:

[2016-06-23 16:33] italopaiva commented on #47
@sdcavanaugh, I'm using the version 2.2.0.

Thanks for the quick answer!

[2016-06-23 18:31] italopaiva commented on #47
I upgraded the to 2.4.1 version and now is working fine!

Thanks, @sdcavanaugh!

[2016-06-23 18:31] #47 closed

[2016-10-26 13:16] kri0290 opened #49 "Not working for MSSQLserver database Isusse"
Using audit4j2.4.1 and Audit4j DB 2.4.1 .

 .Reason it is trying to execute create table if not exists audit (identifier VARCHAR(200) NOT NULL,timestamp TIMESTAMP NOT NULL,actor VARCHAR(200) NOT NULL,origin VARCHAR(200),action VARCHAR(200) NOT NULL,elements VARCHAR(70000));

in which if not exists is not supported by mssqlserver.   Please have a look

[2016-12-01 14:55] mstorfjo commented on #49
Hi.
I have the same problem. It looks like the whole framework is not working with anything but hsql. Is this correct? It looks like a minor development issue to implement this.

[2016-12-16 04:52] srrprasad opened #50 "IOException on Solaris, as .audit files are not getting closed"
On Solaris 10 with Weblogic 12c and audit4j 2.3.1, when load tests are run, we are seeing IOException due to too many open files.
java.io.FileNotFoundException: /audit/Audit_Log-2016-12-14.audit (Too many open files)
        at java.io.RandomAccessFile.open0(Native Method)
        at java.io.RandomAccessFile.open(RandomAccessFile.java:316)
        at java.io.RandomAccessFile.<init>(RandomAccessFil

[2017-01-27 15:06] yangziwen opened #51 "Is there any way to save audit event fields as json in database?"
Dear author

I'm trying to find a way to save the content of elements column in json format, because I only care about values and don't want to save too many infos about objects'  types.

It seems hard to override method behaviors of some important classes(such as DefaultAnnotationTransformer). Do you have any suggestion?

[2017-01-31 11:44] janithb commented on #51
Hi @yangziwen
You can use use Layouts for the json [layout](https://github.com/audit4j/audit4j-core/blob/master/src/main/java/org/audit4j/core/layout/Layout.java). It is not such hard to write your own filter or use [CustomizableLayout  ](http://audit4j.org/documentation/#layout-customizable). You can even filter unwanted information using a custom layout.

[2017-02-01 10:09] yangziwen commented on #51
Thanks so much for your reply.

Currently I import a customized ObjectSerializer via the commands configuration, and use it working together with CustomizableLayout to output json format audit fields to console or file.

But I still can not persist these fields to database as complete json format, because AuditLogDaoImpl#writeEvent method simply concat all fields with ',' as separator, then I can

[2017-02-02 02:44] janithb commented on #51
You are absolutely correct. That is a limitation of DB handler and you need to use a custom DB handler to insert the text as string. In the meantime I'll find a solution to fix this issue.

I would really appreciate if you can share your JSON serializer implementation. We do accept pul requests.

[2017-02-17 10:05] altproject opened #53 "Annotations not work"
Hi,
I would like to include annotations in some classes of my web app but when i put @Audit on the class or on a method nothing is audited...
If i use AuditManager manually it works.

My application is deployed into a Tomcat 8 with jdk 8 with no java framework like spring.
And i put a the listener in my web.xml and add -scanAnnotated with my package and all seem to start :

Audit4j:INFO Initializi

[2017-03-29 13:20] janzyka commented on #15
For any future visitors, the root cause is that spring stores authentication in `ThredLocal` and Audit4j was processing the events in separate thread which didn't see the `ThreadLocal` which is local to the web request thread.

[2017-05-04 16:10] samvaspri12 commented on #23
Hello,
We are using Audit4J 2.4.1 and have hit a snag with SQL server 2016. Audit4J does a CreateIf Audit SQL query which is incorrect for SQL server. Is there a fix or workaround for this. Any help would be appreciated.

Thanks,
Venkat

[2017-07-11 13:51] richakhurana19 commented on #45
I also need this feature for adding multiple columns of interest to log as audit records

[2017-09-11 04:16] QuangMuop opened #55 "Exception when config database handler"
When I config like this (using java code, not yaml or xml config),

` @Autowired
    SysConfig sysConfig;

@Bean
    public DatabaseAuditHandler databaseHandler() {
        DatabaseAuditHandler dbHandler = new DatabaseAuditHandler();
        dbHandler.setEmbedded("false");
        try {
            dbHandler.setDataSource(sysConfig.getDataSource());
            dbHandler.setDb_connection_type("poo

[2017-11-06 14:15] philsegal opened #58 "Java 9 failing environment check"
In EnvUtil.isJDK7OrHigher, the way that the check is done does not work for Java 9 (java.version is 9.0.1 v expected 1.9). This is preventing use on project with java 9 (and forthcoming differing naming conventions)

[2017-11-09 03:51] shrdeshp opened #59 "ObjectToFieldsSerializer issue while using @Aspect annotation for class or complex method"
Whenever using for a non primitive or non-string object ...getting some issues with regards to org.audit4j.core.ObjectToFieldsSerializer.toFields.
Audit4j:ERROR Problem while running Audit4j: Error due to converting object to string representation.
org.audit4j.core.ObjectToFieldsSerializer.toFields

[2017-11-24 08:56] franck-benault opened #60 "How to use Audit4j with SpringBoot?"
Hello,

do you have any example with the integration of Audit4j inside a SpringBoot application ?

Regards Franck

[2017-12-16 16:57] franck-benault commented on #60
There is now an example of Springboot application in the demo project (audit4j-demo-springboot) here
https://github.com/audit4j/audit4j-demo.

This issue can be closed

[2017-12-16 16:57] #60 closed

[2017-12-17 15:33] franck-benault opened #61 "How to extends the Customizable Layout (example add ${roles})"
Hello,

At present time (version 2,5,0) I think there is no way to add in the log more information about the user than the user name (Actor defined in MetaData)

I would like to add the "roles" coming from the authorization system.

For example, in the framework shiro you can give to a user several roles

Do you think it is a good idea ?
What must be changed to make this extension possible ?

I th

[2017-12-17 15:39] franck-benault commented on #46
The version 2.5.0 of audit4j-core solves this issue

[2017-12-22 18:48] decebals opened #62 "Dependencies number"
Hi,

First of all, congratulations for this library. The code looks good, the site is very good with a lot of useful information.
I think to use your library in one of my project to improve the audit part. My concern is related to the number of dependencies. In my opinion is a little bit high. My application is a relative small application, that uses Pippo web framework (140K) and the target machi

[2017-12-23 04:15] janithb commented on #62
Hi @decebals ,

Thanks for considering Audit4j. From the initial stage, audit4j is designed for the enterprise applications and we haven't designed audit4j for embedded systems.

I think If you are designed the Auditing(or logging) library you should consider below two things,

1. Auditing process should not interfere main business flow specially in performance critical systems, so the design shou

[2017-12-23 17:01] decebals commented on #62
Thanks for your explanations!

I understand what you say. In the context of enterprise the numbers of jars are not a problem (because they are a lot already).
Personal, I prefer to not work with full stack product (for example Spring). I prefer to assembly small very good small libraries (to be agile, to be able to change small parts not the entire system).

Very good choice the solution with reac

[2017-12-24 20:33] decebals commented on #62
In the end I chose to create a tiny library, [Auditor](https://github.com/decebals/auditor).
I added in readme a link to your excellent library. Keep up the good work!

[2017-12-24 20:33] #62 closed

[2017-12-27 16:26] janithb opened #64 "Success Call or Failure Call"
There should have a way to identify audit event is Success or Failure. Based on [this ](https://github.com/audit4j/audit4j-demo/issues/1)question opening a new enhancement request.

[2018-01-03 02:51] janithb commented on #20
Fixed in 2.5.0

[2018-01-03 02:51] #20 closed

[2018-01-03 02:52] janithb commented on #46
Fixed

[2018-01-03 02:52] #46 closed

[2018-01-27 15:30] janithb commented on #61
How about adding actor as a separate entity, as per below representation.

Actor {
  String identifier;
  String name;
  String role;
}

[2018-01-27 16:11] janithb commented on #51
This is fixed

[2018-01-27 16:11] #51 closed

[2018-01-30 20:16] avolani opened #67 "Update @AuditField documentation"
Not really an issue but a suggestion.

The @AuditField javadoc says (also the the same on the audit4j site)
`/**
 * The AuditField annotation.
 *
 * This Annotation is used to mark parameters which will include in the audit
 * event.
 *
 * @author <a href="mailto:janith3000@gmail.com">Janith Bandara</a>
 *
 * @since 1.0.0
 */`

But this is not the current behavior, audit4j now traces all method fi

[2018-01-31 22:25] franck-benault commented on #67
Hello,

I would say This Annotation is used to change the default name of parameter (argX) which will include in the audit event.

example
[code]

  the calling of
  foo1("e1","e2");
	foo2("f1","f2");
  will generate with a SimpleLayout
  01/31/2018 23:16:20|-4753176840720593684|anonymous|127.0.0.1|foo1==>stringOne java.lang.String:e1,stringTwo java.lang.String:e2,
  01/31/2018 23:16:21|-990309085

[2018-01-31 22:32] franck-benault commented on #67
Hello,

I agree :
I would say This Annotation is used to change the name of parameter which will include in the audit event.

example
	@Audit
	public void foo1(@AuditField(field="stringOne") String string1, @AuditField(field="stringTwo") String string2) {
		// TODO Auto-generated method stub
	}

	@Audit
	public void foo2(String string1, String string2) {
		// TODO Auto-generated method stub

	}

[2018-01-31 22:45] franck-benault commented on #67
I have created the pull request
https://github.com/audit4j/audit4j-core/pull/68

[2018-02-01 06:04] janithb commented on #67
Merged the PR.

[2018-02-06 05:42] janithb commented on #53
@altproject

Currently annotations only works only with Audit4j Spring, CDI, Hibernate or Aspectj. If you run audit4j with plain java in tomcat8, new extention need to be developed.

[2018-02-09 06:23] belchandan commented on #51
I am also looking for similar, Values for Fields are not very readable for complex objects (e.g. beans or collection etc), is there ways to customize that?

Thanks

[2018-02-09 07:24] belchandan commented on #51
Got it, just for confirmation and may be useful for someone like me:
We can set AnnotationTransformer to use specific ObjectSerializer, like ObjectToJsonSerializer in this instance.

[2018-02-15 15:02] Tamarick commented on #59
I'm having the same issue, any luck so far?

[2018-02-15 15:15] Tamarick opened #69 "Errors after running Application"
I have implemented Audit4j with Spring boot in my application. The application starts up but once I try to reach a page on the server (tomcat), I am hit with many error messages. Below are a few. I ran the sample project and that works fine, but implementing it in a larger project causes a lot of errors.
Any solutions for this?

	at org.audit4j.core.ObjectToFieldsSerializer.toFields(ObjectToFields

[2018-02-15 21:37] franck-benault commented on #69
Could you please give an example of simple method in error ?

or does the issue occurs only when there is big charge on the server ?

Regards Franck

[2018-02-16 15:08] Tamarick commented on #69
Big charge on the server. I used a @Audit annotation for a method that calls a api for a home page.

@Audit
	@RequestMapping("/home")
	public String login(

[2018-02-18 15:22] janithb commented on #51
audit4j 2.5.0 is already release. this issue is already fixed in 2.5.0 version.

[2018-02-23 23:00] franck-benault opened #71 "2.5.0 Config with YAML file CustomizableLayout : pb properties dateFormat and template"
Hello

with Audit4j version 2.5.0
when I am using a config with YAML file
for CustomizableLayout, I cannot use the properties dateFormat and template

YAML example file
[code]
root cause:
missing getter for the fields dateFormat and template in CustomizableLayout class

Regards Franck

[2018-02-23 23:01] franck-benault commented on #71
I have created the pull request 70 for the field template
https://github.com/audit4j/audit4j-core/pull/70

[2018-03-01 12:24] raagu opened #73 "Audit4j still uses older group of javassist"
Hello Team

I am using audit4j library for my java application for auditing feature and found that it depends on javassist jar of version 3.12.1.GA from javassist group. But, in the javassist maven repository https://mvnrepository.com/artifact/javassist/javassist, it has been told that this artifact was moved to new group org.javassist with new artifact javassist. I looked at the latest source cod

[2018-03-02 23:06] franck-benault commented on #73
Hello,

we could use
		<dependency>
			<groupId>org.javassist</groupId>
			<artifactId>javassist</artifactId>
			<version>3.22.0-GA</version>
		</dependency>

At a first glance there is no impact in the audit4j-core and the integration tests are still ok

Regards Franck

[2018-03-08 19:42] franck-benault commented on #73
I have created the pull request 75
https://github.com/audit4j/audit4j-core/pull/75

[2018-04-14 18:37] paletov opened #76 "Initialization vectors should be randomly generated for proper security guarantees."
As part of some research about the [common crypto mistakes that developers make](https://littlemaninmyhead.wordpress.com/2017/04/22/top-10-developer-crypto-mistakes/), I noticed that your application has one of them.

In [EncryptionUtil.getCipher](https://github.com/audit4j/audit4j-core/blob/69caeb5f2bcff756c230378ae405966cdc6b8861/src/main/java/org/audit4j/core/util/EncryptionUtil.java#L127) you'

[2018-04-17 22:42] leandrosilvaferreira commented on #51
Hi guys, there are a documentation somewhere about save the content of elements column in json format?
Thanks!

[2018-04-18 20:33] franck-benault commented on #46
This issue has been solved in the code, but is not yet integrated in a version
please look at this issue
https://github.com/audit4j/audit4j-core/issues/71

I will ask to create a new version of audit4j-core

[2018-06-21 16:04] johno1985 opened #77 "Timestamp format for database auditing"
I am trying to store the audit timestamp with the UTC timezone included in the database. I am using the following config

`!Configuration
handlers:
- !org.audit4j.handler.db.DatabaseAuditHandler
    embedded: false
    db_driver: com.mysql.cj.jdbc.Driver
    db_url: jdbc:mysql://localhost:3306/launchbi_audit_local?serverTimezone=UTC
    db_user: launchbi
    db_password: QWdF94@.7
layout:
  !org.a

[2018-06-22 12:42] johno1985 opened #78 "@Audit annotation does not work"
Version 2.5.0

I have added the @Audit annotation to one of my controller methods and have implemented the MetaData interface but no audit events are triggered

[code]

[code]

[code]

[2018-06-23 14:00] franck-benault commented on #77
Hello,

following to documentation http://audit4j.org/documentation/#layouts
the layout allows you to format the audit traces in console or file, not in database

I understand to need and you can a similar problem here
https://github.com/audit4j/audit4j-db/issues/9

in fact for the audit in database there is not format possible
if you look at the code of AuditLogDaoImpl in Audit4j-db
everything is

[2018-06-23 14:03] franck-benault commented on #78
Hello,

What is your project (is it a spring boot project?)
Do you see in the log the starting of audit4j ?

Regards Franck

[2018-06-24 20:18] franck-benault commented on #78
Hello,

I have faced the issue how to integrate the @Audit annotation in environment without spring.

I have put a simple example using Aspectj to integrate @Audit annotation in audit4j-demo (audit-demo-annotation-int)
https://github.com/audit4j/audit4j-demo/tree/master/audit4j-demo-annotation-int

But one additionnal point
please avoid to audit a method like void handleRequest(HttpServletRequest

[2018-07-02 19:23] johno1985 commented on #78
Thanks Franck. Quick question, if I were to use Jersey REST, would this
annotation work with their default DI mechanism, HK2?

Kind regards,

Jonathan

On Sun, 24 Jun 2018 at 21:18, Franck Benault <notifications@github.com>
wrote:

[2018-07-03 15:30] johno1985 opened #79 "Support for loading config file from user home directory"
It would be nice to have support for loading the config file from the user's home directory,

```String homeDirectory = System.getProperty("user.home");```

[2018-07-06 21:00] franck-benault commented on #79
Hello at present time there is no support for user.home directory
the default directory is user.dir
but you can set the variable AUDIT4J_CONF_FILE_PATH to the folder you want

Regards Franck

[2018-07-09 21:47] franck-benault opened #80 "It is not possible to change the prefix of the Audit file (FileAuditHandler auditFilePrefix not taken in account)"
Hello,

bug found in Audit4j-core version 2,5,0

It is not possible to change the prefix of the audit file : this file always starts with the default prefix (Audit_log)
the property auditFilePrefix is not taken in account in FileAuditHandler, because in the class FileHandlerUtil the method generateAuditFileName() has a hardcoded prefix name.

see also the request in stackoverflow.com
https://stack

[2018-07-23 14:04] johno1985 opened #81 "Support for wildcard file filter"
Version 2.5.0

For our different environment in our deployment pipelines, our audit4j config file will have an environment name infix in the filename, e.g. 'audit4j.conf-qa.yml'

We then set the path using:

`System.setProperty("audit4j.conf.file.path",
					System.getProperty("user.home") + File.separator + "audit4j-conf*.yml");`

But this results in the following exception:

`java.nio.file.Inval

[2018-08-09 07:27] gaurav072 opened #82 "isJDK_N_OrHigher() method having issue with Java 10"
I have found one of the issue with method isJDK_N_OrHigher() in EnvUtil class in audit4j-core 2.5.0

[code]

As the list containing 1.x  and matching with system java version. It works fine upto Java 1.8 but from Java 10 versioning has been changed(10.x) due to which validation is failing. Could you please look into this.

[2018-08-20 05:31] gaurav072 commented on #82
Have you get any chance to look into this?

[2018-10-09 19:05] Tamarick commented on #69
Hi Rajesh,

I didn’t fix the error or found any work around this issue.

Regards,
Tamarick

On Tue, Oct 9, 2018 at 2:25 AM rajeshvalsala <notifications@github.com>
wrote:

[2018-10-10 11:28] rajeshvalsala commented on #69
Hi Tamarick,

I fixed this by using @IgnoreAudit annotation for HttpServletRequest object.

Thanks.

[2018-10-10 15:22] pvitor commented on #69
I passing for this, and verified wish list not passing the type of the list and generate the error. Hibernate not mapping list with relation 1 to n.

Thanks.

[2018-10-11 23:48] PritishSehzpaul commented on #82
Hi. I would like to help. May I look into it?

[2018-10-14 17:56] gaurav072 commented on #82
Could you please review the code and merge it?

[2018-10-24 09:37] belchandan opened #85 "Java 10 compatibility Issue"
I am updating my application to Java10 and found Audit4J checks Java environment, I believe due to checking version in 1.X format, which works for 1.7, 1.8 etc but in Java10 version format has changed to 10.X.
I have updated this part of audit4J-core (locally only for now), the version issue seem to resolved but now SpringAudit4jConfig is causing issues, error log below:
--//--
Bean instantiation

[2018-11-14 07:49] rajeshvalsala commented on #59
I'm also having the same issue. Any fix available?

[2019-01-31 08:50] bcaure commented on #85
I don't have any problem with Java 10 besides method isJDK_N_OrHigher(int n)
Could you post your audit4j config?

[2019-01-31 14:22] bcaure commented on #82
this does not work with jdk 9 :

[2019-02-01 17:25] gaurav072 commented on #82
Java 9 was not a stable release, Oracle already removed it from the website.
https://www.oracle.com/technetwork/java/javase/downloads/jdk9-downloads-3848520.html

[2019-02-01 17:26] #82 closed

[2019-02-19 16:24] belchandan opened #88 "audit4j-core 2.6.0 with Maven"
Maven not finding @audit4j-core version 2.6.0, any help please?

[2019-04-09 11:37] bcaure commented on #58
@janithb could you merge my pull request #87 to fix this issue?

[2019-04-11 11:20] SaenkoDmitry opened #89 "Bug with async mode is always true"
Hello,
bug found in version 'org.audit4j:audit4j-core:2.5.0'

**Problem:**
It is not possible to set sync mode because _async_ always is true

**Solution:**
It is needed to change line 53-54:
https://github.com/audit4j/audit4j-core/blob/dc8569108851e64cb0ecc7a39048db0ad070fba2/src/main/java/org/audit4j/core/command/impl/MetadataCommand.java#L53-L54
to
[code]

[2020-01-14 06:01] Amitbhave commented on #58
@janithb @bcaure @philsegal any updates on this issue? Do you have plans to merge this PR? We are getting issues for java version > 9.

[2020-01-18 22:29] bcaure commented on #58
@janithb is the only one to be able to merge. I'm waiting for this too.

[2020-01-20 09:03] agori opened #93 "ZeroCopyFileWriter leaks file handlers"
Basically that AuditFileWriter implementation opens new files on every attempt and never closes them. After some time the server crashes because of "too many open files".
I have to say this is a quite bewildering and severe bug for an audit library, whose purpose is, after all, to write to a file.

To me this method is clearly the culprit:

[code]

[2020-01-31 02:55] BillDinger commented on #85
I'm also having the issue with java 11 @bcaure

[code]

Exception being thrown is:
[code]

If I flip it to 1.8
[code]

it executes without issues. Using latest (2.5.0) of audit4j

[2020-01-31 04:28] BillDinger commented on #85
Hrrm I debugged this on my home PC and when manually substituting in the version number in ` private static boolean isJDK_N_OrHigher(int n)` when running the test it works fine. I wonder if the issue more has to do with the `System.getProperty("java.version");` on mac returning something weird. I'll take a look at work tomorrow when I get back.

[2020-02-19 12:39] tfedyanin commented on #88
https://github.com/audit4j/audit4j-core/releases
there is no 2.6.0 release

[2020-02-29 14:40] pauldambra commented on #85
I'm getting this on trying to update a project to java 11 on my mac

[2020-02-29 14:41] pauldambra commented on #85
If I run `System.out.println(System.getProperty("java.version"))` in a shell in IntelliJ

I get `11.0.2` as the output

[2020-02-29 17:38] pauldambra commented on #85
@janithb any chance we could merge this (or fix it another way :))

I've an app at work that depends on this library (thank you for it btw) and we can't update to Java 11 because of this issue.

[2020-03-02 17:50] BillDinger commented on #85
@pauldambra I was able to eventually fix this on my mac by wiping out the JDK and doing a fresh install of adoptopenjdk. I'm still unsure _what_ on my mac caused it but that did fix it.

[2020-03-02 17:59] pauldambra commented on #85
I can't risk having to try and do that through CI and into multiple application servers though

The code change I've proposed does remove the issue (I think)

It removes the need for this comment https://github.com/audit4j/audit4j-core/pull/94/files#diff-977dbf33e7beb1cd8309627cf774cbdfL53

[2020-07-07 08:23] wyssli opened #96 "Webiste audit4j.org down"
Trying to access http://audit4j.org I get a "host not resolvable".
The domain still seems to be registered and has been updated recently:

[code]

[2020-10-03 10:01] jamietanna commented on #85
I'd be happy picking up this issue if that's OK? :smile:

[2020-10-03 10:33] pauldambra commented on #85
Do you have commit permissions on this repo @jamietanna ?

We've forked here https://github.com/coopdigital/audit4j-core (although looks like we've not updated it yet :/)

[2020-10-03 10:38] jamietanna commented on #85
No I don't @pauldambra - I was thinking of raising a PR to this repo via a fork of my own

[2020-10-03 10:58] pauldambra commented on #85
Ah, yeah, I've had a PR open for it for months. It's either abandoned or
the maintainer doesn't want this fix.

I'll check on Monday why we haven't updated our fork. We've been super busy
the last couple weeks but the intention is to leave our fork available with
the fix

On Sat, 3 Oct 2020, 11:38 Jamie Tanna, <notifications@github.com> wrote:

[2020-10-03 11:10] jamietanna commented on #85
Oh sorry I didn't realise, that makes sense

[2020-10-03 11:20] pauldambra commented on #85
No worries :) https://github.com/audit4j/audit4j-core/pull/94 that's my PR

I don't have time to review yours this weekend (sorry!) you're welcome to review mine though!

[2021-08-17 20:14] davidmichaelkarr opened #106 "Throw statement in YAMLConfigProvider drops exception on floor"
I was tracking an error reported by a developer on our team, and the stacktrace included the exception thrown from the following method in "YAMLConfigProvider":

[code]
That throw statement is dropping the IOException on the floor, which would likely have had information about what file path was being attempted, and that it doesn't exist (I'm making an educated guess from the circumstances of the

[2022-02-03 08:13] ramuwso2 commented on #58
Can you please update when it is going to be merged and date of new release ?

[2022-08-02 12:37] koti-muppavarapu commented on #51
Hi,

Could someone provide me an example configuration to log elements field on audit table store json string of an object?

[2022-08-02 13:05] koti-muppavarapu commented on #51
Never mind, I have figured it out. It's as simple as this...

audit4jConfig.setAnnotationTransformer(new DefaultAnnotationTransformer(new ObjectToJsonSerializer()));